* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.col-6 {
    flex: 0 0 50%;
    width: 100%;
}

.title {
    text-align: center;
}